body{
    /* background: linear-gradient(#EADDCA, #DAA06D);
    background-repeat: no-repeat;
    background-attachment: fixed; */

    background-image: url("../04_background/clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    color: #E97451	;
    font-size: 100px;
    text-align: center;
    border-style: inset;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
}

p{
    font-size: 20px;
    text-align:justify;
}