body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
}

.cowboy{
    grid-column: span 2;
}

.astronaut{
    grid-row: span 2;
}

.book{
    grid-column: span 2;
}